*{
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings;
    "wdth" 100;
}
/* header style start */
.header{
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-position:top left, bottom right;
    background-repeat: no-repeat;
}
/* header style end */
/* Nav style start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-tittle{
    font-weight: 800;
    font-size: 45px;

} 
nav ul li {
    list-style: none;
    align-items: center;
    margin-right: 20px;
   
}
nav li a {
    text-decoration: none;
    
}
nav ul{
    display: flex;
    align-items: center;
    
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;

}
/* nav style end */

/* banner style start*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width:580px ;
}
.img-profile{
    width: 580px;
}
.ban-tittle{
    font-size: 45px;
    font-weight: 600;
}
.ban-content{
    font-size: 85px;
    font-weight: 700;
}
.banner-description{
    font-size: 25px;
    font-weight: 300;
}
/* banner style end */